@import "../../../styles.scss";

.content {
  margin: 0 auto;
  @include center-x-y();
  @include content-horizontal-padding();
  margin-top: 2rem;

  @media (min-width: $big-screen) {
    margin-top: 3rem;
  }
}
