@import "../../../styles.scss";

.content {
  @include center-x-y(center,flex-start);
  @include content-horizontal-padding();
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  flex-grow: 1;
  @media (min-width: $big-screen) {
    padding-top: 3.5rem;
  }
}
