<div class="center">
  <form (ngSubmit)="submit()" #loginForm="ngForm">
    <div>
      <input
        class="text-input"
        [ngClass]="{'text-input-error-border':(username.errors?.['required'] || username.errors?.['minlength']) && !username.pristine}"
        id="username"
        type="text"
        required
        minlength="4"
        [(ngModel)]="loginUsername"
        #username="ngModel"
        name="username"
        placeholder="Username..."
      />
      <app-input-error
        *ngIf="username.errors?.['required']  && !username.pristine"
      >
        Username is required
      </app-input-error>
      <app-input-error
        *ngIf="username.errors?.['minlength'] && !username.pristine"
      >
        Username must be at least 4 characters long
      </app-input-error>
    </div>

    <div>
      <input
        class="text-input"
        [ngClass]="{'text-input-error-border':(password.errors?.['required'] || password.errors?.['minlength']) && !password.pristine}"
        id="password"
        type="password"
        required
        minlength="4"
        [(ngModel)]="loginPassword"
        #password="ngModel"
        name="password"
        placeholder="Password..."
      />
      <app-input-error
        *ngIf="password.errors?.['required']  && !password.pristine"
      >
        Password is required
      </app-input-error>
      <app-input-error
        *ngIf="password.errors?.['minlength'] && !password.pristine"
      >
        Password must be at least 4 characters long
      </app-input-error>
    </div>
    <app-loading-spinner
      *ngIf="isLoggingIn"
      class="loading-spinner"
      [size]="'small'"
      [color]="'green'"
    ></app-loading-spinner>
    <app-alert-message
      *ngIf="alertOpen"
      [closable]="true"
      [color]="'red'"
      (closeSignal)="handleAlertClosed()"
    >
      Error: Invalid username or password
    </app-alert-message>

    <app-custom-button
      class="login-btn"
      [disabled]="!loginForm.valid"
      [text]="'Login'"
      [buttonPaint]="'green'"
      [buttonHeight]="'large'"
    ></app-custom-button>
  </form>
</div>
