<app-confirmation-dialog
  [commands$]="taskDeletionDialogCommand.asObservable()"
  (result)="receiveResult($event)"
>
  Are you sure you want to delete
  {{ task.name }}</app-confirmation-dialog
>

<article *ngIf="this.task">
  <h2>Task "{{ this.task.name }}" details...</h2>

  <table>
    <tr>
      <th>Descripci&oacute;n</th>
      <td>{{ this.task.description }}</td>
    </tr>
    <tr>
      <th>Estado</th>
      <td *ngIf="this.task.done">Finalizada</td>
      <td *ngIf="!this.task.done">Sin finalizar</td>
    </tr>
    <tr>
      <th>Fecha de creaci&oacute;n</th>
      <td>{{ this.task.created | date : "dd/MM/yyyy h:mm a" }}</td>
    </tr>
  </table>
</article>

<app-custom-icon-button
  class="btn-delete"
  [iconPath]="'/assets/delete-3-svgrepo-com.svg'"
  [buttonPaint]="'red'"
  (clickedButtonEvent)="handleDeleteButtonClick()"
  [iconHeight]="'medium'"
></app-custom-icon-button>
