@import "../../../../styles.scss";
:host {
  width: 100%;
  max-width: 40rem;
}

.btn-delete {
  width: 5rem;
}
.loading-spinner {
  margin-top: 5rem;
  @include center-x-y();
}

.delete-msg {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: break-spaces;
  word-wrap: break-word;
}
