<section>
  <app-closable-dialog [commands$]="taskDeletionDialogCommand.asObservable()">
    <app-confirmation
      [commands$]="taskDeletionDialogCommand.asObservable()"
      (confirmationResult)="receiveResult($event)"
      [option1]="'Delete'"
      [option2]="'Cancel'"
      [option1Color]="'red'"
      [option2Color]="'primary'"
    >
      <p class="delete-msg">
        Are you sure you want to delete <strong>"{{ task.name }}"</strong> ?
      </p>
    </app-confirmation>
  </app-closable-dialog>

  <div *ngIf="loadingTask && !errorFetchingTaskDetails" class="loading-spinner">
    <app-loading-spinner color="orange" size="small"></app-loading-spinner>
  </div>
  <app-alert-message
    *ngIf="errorFetchingTaskDetails"
    class="error-alert"
    [closable]="false"
    [color]="'red'"
  >
    Error fetching task details...try again later
  </app-alert-message>
  <section *ngIf="!loadingTask && !errorFetchingTaskDetails" class="details">
    <app-section-header
      [name]="task.name"
      [description]="task.description"
      [type]="'Task'"
    >
    </app-section-header>

    <app-custom-detail
      *ngIf="task.done !== undefined"
      [name]="'Status'"
      [state]="true"
    >
      {{ task.done ? "Finished" : "Pending" }}</app-custom-detail
    >
    <app-custom-detail
      *ngIf="task.created"
      [name]="'Creation date'"
      [state]="true"
    >
      {{ task.created | date }}</app-custom-detail
    >
    <app-custom-detail *ngIf="task.due" [name]="'Due date'" [state]="true">
      {{ task.due | date : "MMM d, y" : "UTC" }}</app-custom-detail
    >

    <app-custom-icon-button
      class="btn-delete"
      [iconPath]="'/assets/delete-3-svgrepo-com.svg'"
      [buttonPaint]="'red'"
      (clickedButtonEvent)="handleDeleteButtonClick()"
      [ariaLabel]="'Delete task'"
    ></app-custom-icon-button>
  </section>
</section>
