<section>
  <form #searchForm="ngForm">
    <input
      class="search-input"
      appTheme
      [systemThemeClass]="'search-input-theme-system'"
      [lightThemeClass]="'search-input-theme-light'"
      [darkThemeClass]="'search-input-theme-dark'"
      name="search-input"
      id="search-input"
      type="search"
      #searchInput
      placeholder="Search..."
    />

    <select
      class="search-type-input"
      appTheme
      [systemThemeClass]="'search-input-type-theme-system'"
      [lightThemeClass]="'search-input-type-theme-light'"
      [darkThemeClass]="'search-input-type-theme-dark'"
      name="search-type"
      id="search-type"
      #searchTypeInput
    >
      <option value="projects">Projects</option>
      <option value="epics">Epics</option>
      <option value="stories">Stories</option>
      <option value="tasks">Tasks</option>
    </select>
  </form>

  <div *ngIf="loadingResults" class="loading-spinner">
    <app-loading-spinner [color]="'primary'"></app-loading-spinner>
  </div>

  <app-alert-message
    *ngIf="
      searchResults.length <= 0 && !loadingResults && !errorFetchingResults
    "
    [closable]="false"
    [color]="'primary'"
    class="no-results-alert"
  >
    No elements found</app-alert-message
  >

  <app-alert-message
    *ngIf="errorFetchingResults"
    [closable]="false"
    [color]="'red'"
    class="error-alert"
  >
    Error fetching results...try again later</app-alert-message
  >

  <ul *ngIf="!loadingResults">
    <li
      *ngFor="let result of searchResults"
      (click)="handleElementClick(result)"
      tabindex="{0}"
    >
      <app-summary-card
        [name]="result.data.name"
        [description]="result.data.description"
        [icon]="result.data.icon"
        [accent]="configureAccent(result.type)"
      ></app-summary-card>
    </li>
  </ul>
</section>
