@import "../../../styles.scss";

.dialog {
  @include fullscreen-dialog();
}

.dialog-theme-system {
  @include theme("dialog", "theme-system");
}
.dialog-theme-light {
  @include theme("dialog", "theme-light");
}
.dialog-theme-dark {
  @include theme("dialog", "theme-dark");
}

.open {
  @include fullscreen-dialog-open();
}

.content {
  box-sizing: border-box;
  @include center-x-y();
  height: 100%;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
}
