<dialog #dialog class="dialog" [ngClass]="{ open: isOpen }">
  <form [formGroup]="taskForm" (ngSubmit)="submit()">
    <div>
      <label for="name">Name: </label>
      <input
        id="name"
        type="text"
        formControlName="name"
        [disabled]="requestPending"
      />
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea
        id="description"
        rows="5"
        cols="33"
        formControlName="description"
        [disabled]="requestPending"
      >
      </textarea>
    </div>

    <div>
      <label for="due-date">Due date: </label>
      <input
        id="due-date"
        type="date"
        formControlName="dueDate"
        [disabled]="requestPending"
      />
    </div>

    <div>
      <label for="done">Is done: </label>
      <input
        id="done"
        type="checkbox"
        formControlName="done"
        [disabled]="requestPending"
      />
    </div>
    <p *ngIf="requestPending">Creating task</p>
    <app-custom-button
      [text]="'Create'"
      [buttonPaint]="'primary'"
      [buttonHeight]="'small'"
    ></app-custom-button>
  </form>

  <app-custom-button
    [text]="'Close'"
    [buttonPaint]="'primary'"
    (clickedButtonEvent)="handleCloseDialogButtonClick()"
    [buttonHeight]="'small'"
  ></app-custom-button>
</dialog>
