@import "../../../../styles.scss";

.dialog {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  @include center-x-y();
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  &:modal {
    max-width: none;
    max-height: none;
    margin: 0;
  }
}

.open {
  opacity: 1;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.create-btn {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 0;
  gap: 1rem;
  width: 90%;
  max-width: 30rem;
}

.label {
  font-weight: bold;
  word-wrap: break-word;
  white-space: break-spaces;
}

.text-input {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 1px;
  border-radius: 0.125rem;
  border-style: solid;
  outline: none;
  border-color: color("gray400");

  background-color: color("white");

  &:focus {
    border-color: color("link-primary");
  }

  &::placeholder {
    color: #b7bdc9;
  }
}

.text-area-input {
  resize: vertical;
  min-height: 4rem;
}

.text-input-error {
  border-color: color("link-red");
}

.loading-spinner {
  @include center-x-y();
}
