@import "../../../../styles.scss";

.dialog {
  @include fullscreen-dialog();
  @include theme("dialog");
}

.open {
  @include fullscreen-dialog-open();
}

.content {
  box-sizing: border-box;
  @include center-x-y();
  height: 100%;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.create-btn {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 30rem;
}

.label {
  @include label();
}

.text-input {
  @include input-text();
  @include theme("text-input");
}

.text-area-input {
  resize: vertical;
  min-height: 4rem;
}

.text-input-error-border {
  @include text-input-error-border();
}

.loading-spinner {
  @include center-x-y();
}
