<dialog #dialog class="dialog" [ngClass]="{ open: isOpen }">
  <ng-content></ng-content>
  <app-custom-button
    [buttonType]="'icon'"
    [iconAlt]="'close dialog'"
    [iconPath]="'assets/tcan-svgrepo-com.svg'"
    (clickedButtonEvent)="handleConfirmButtonClick()"
  ></app-custom-button>
  <app-custom-button
    [buttonType]="'icon'"
    [iconAlt]="'close dialog'"
    [iconPath]="'assets/close-svgrepo-com.svg'"
    (clickedButtonEvent)="handleCloseButtonClick()"
  ></app-custom-button>
  <p *ngIf="confirmed">Performing action</p>
</dialog>
