<dialog #dialog class="dialog" [ngClass]="{ open: isOpen }">
  <div class="content">
    <div class="confirmation-dialog">
      <ng-content></ng-content>
      <app-alert-message
        class="error-alert"
        *ngIf="error"
        [closable]="false"
        [color]="'red'"
      >
        {{ errorMessage }}
      </app-alert-message>
      <div class="options">
        <app-custom-button
          [text]="'Delete'"
          [buttonPaint]="'red'"
          (clickedButtonEvent)="handleConfirmButtonClick()"
          [buttonHeight]="'medium'"
        ></app-custom-button>
        <app-custom-button
          [text]="'Cancel'"
          [buttonPaint]="'primary'"
          (clickedButtonEvent)="handleCloseButtonClick()"
          [buttonHeight]="'medium'"
        ></app-custom-button>
      </div>
      <app-loading-spinner
        class="loading-spinner"
        *ngIf="confirmed && !error"
      ></app-loading-spinner>
    </div>
  </div>
</dialog>
