@import "../../../styles.scss";

.dialog {
  @include fullscreen-dialog();
  @include theme("dialog");
}

.open {
  @include fullscreen-dialog-open();
}

.content {
  box-sizing: border-box;
  @include center-x-y();
  height: 100%;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.loading-spinner {
  margin: 1rem auto;
}

.error-alert {
  display: block;
  margin-top: 1rem;
}
