<aside class="menu" [ngClass]="{ 'open-menu': isOpen }">
  <header>
    <app-custom-button
      [buttonType]="'icon'"
      [iconPath]="'assets/close-svgrepo-com.svg'"
      [iconAlt]="'close menu'"
      (clickedButtonEvent)="closeMenu()"
    ></app-custom-button>
    <h2>APPLOGO</h2>
    <!--     <figure>
      <img src="" alt="" />
      <caption></caption>
    </figure> -->
  </header>

  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-list-item" (click)="navigate('/')">
        <a> Home </a>
      </li>
      <li class="nav-list-item" (click)="navigate('/my-projects')">
        <a> My Projects </a>
      </li>
      <li class="nav-list-item" (click)="navigate('/my-stories')">
        <a> My Stories </a>
      </li>
    </ul>
  </nav>
  <footer class="footer">
    <app-divider></app-divider>
    <li class="nav-list-item" (click)="navigate('/settings')">
      <a> Settings </a>
    </li>
    <app-custom-button
      [buttonType]="'text&icon'"
      [iconAlt]="'logout'"
      [iconPath]="'assets/close-svgrepo-com.svg'"
      [text]="'logout'"
      (clickedButtonEvent)="handleLogoutButtonClick()"
    ></app-custom-button>
  </footer>
</aside>
