<aside class="menu" [ngClass]="{ 'open-menu': isOpen }">
  <header>
    <app-custom-button
      [buttonType]="'icon'"
      [iconPath]="'assets/close-svgrepo-com.svg'"
      [iconAlt]="'close menu'"
      (clickedButtonEvent)="closeMenu()"
    ></app-custom-button>
    <h2>Welcome to the manager</h2>
    <figure>
      <img src="" alt="" />
      <caption></caption>
    </figure>
  </header>

  <nav>
    <ul>
      <li><a routerLink="/"> Home </a></li>
      <li><a routerLink="/my-projects"> My Projects </a></li>
      <li><a routerLink="/my-stories"> My Stories </a></li>
    </ul>
  </nav>
  <footer>
    <li><a routerLink="/settings"> Settings </a></li>
  </footer>
</aside>
