<aside class="menu" [ngClass]="{ 'open-menu': isOpen }">
  <header>
    <app-custom-button
      [buttonType]="'icon'"
      [iconPath]="'assets/close-svgrepo-com.svg'"
      [iconAlt]="'close menu'"
      (clickedButtonEvent)="closeMenu()"
    ></app-custom-button>
    <h2>APPLOGO</h2>
    <!--     <figure>
      <img src="" alt="" />
      <caption></caption>
    </figure> -->
  </header>

  <nav class="navigation">
    <ul class="nav-list">
      <li><a (click)="navigate('/')"> Home </a></li>
      <li><a (click)="navigate('/my-projects')"> My Projects </a></li>
      <li><a (click)="navigate('/my-stories')"> My Stories </a></li>
    </ul>
  </nav>
  <footer class="footer">
    <li><a routerLink="/settings"> Settings </a></li>
    <app-custom-button
      [buttonType]="'text&icon'"
      [iconAlt]="'logout'"
      [iconPath]="'assets/close-svgrepo-com.svg'"
      [text]="'logout'"
      (clickedButtonEvent)="handleLogoutButtonClick()"
    ></app-custom-button>
  </footer>
</aside>
