@import "./colors";

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

@mixin light-theme($element) {
  @if $element == "loading-spinner" {
    border: 0.5rem solid color("gray200");
  }
  @if $element == "header" {
    background-color: color("gray400");
  }
  @if $element == "segment" {
    color: color("black-800");
  }
  @if $element == "segment:hover" {
    color: color("link-primary");
  }

  @if $element == "summary-card" {
    background-color: color("white");
    box-shadow: 2px 2px 4px 1px color("gray400");
  }
  @if $element == "summary-card:hover" {
    color: color("link-primary");
    box-shadow: 2px 2px 8px 4px color("gray400");
  }
  @if $element == "board-sector" {
    background-color: color("gray100");
    box-shadow: 2px 2px 4px 1px color("gray400");
  }

  @if $element == "dialog" {
    background-color: rgba(255, 255, 255, 0.9);
    color: inherit;
  }

  @if $element == "text-input" {
    border-color: color("gray400");
    background-color: color("white");
    color: color("black900");
  }

  @if $element == "task-input" {
    color: color("black");
  }
  @if $element == "divider" {
    background-color: white;
  }
  @if $element == "footer" {
    background-color: color("black600");
  }
  @if $element == "body" {
    background-color: color("gray100");
    color: color("black800");
  }
}

@mixin dark-theme($element) {
  @if $element == "loading-spinner" {
    border: 0.5rem solid color("black600");
  }
  @if $element == "header" {
    background-color: color("black600");
  }
  @if $element == "segment" {
    color: color("gray100");
  }
  @if $element == "segment:hover" {
    color: color("link-primary");
  }

  @if $element == "summary-card" {
    background-color: color("black600");
    box-shadow: 2px 2px 4px 1px color("black800");
  }
  @if $element == "summary-card:hover" {
    color: color("link-primary");
    box-shadow: 2px 2px 8px 4px color("black800");
  }
  @if $element == "board-sector" {
    background-color: color("black900");
    box-shadow: 2px 2px 4px 1px color("black900");
  }

  @if $element == "dialog" {
    background-color: rgba(0, 0, 0, 0.8);
    color: inherit;
  }

  @if $element == "text-input" {
    border-color: color("black900");
    background-color: color("black600");
    color: color("gray100");
    color-scheme: dark; //It only takes effect over the date input
  }

  @if $element == "task-input" {
    color: color("white");
  }
  @if $element == "divider" {
    background-color: white;
  }
  @if $element == "footer" {
    background-color: color("black600");
  }
  @if $element == "body" {
    background-color: color("black700");
    color: color("gray100");
  }
}

@mixin theme($element, $user-choice: "theme-system") {
  @if ($user-choice == "theme-system") {
    @include light-theme($element);
    @media (prefers-color-scheme: dark) {
      @include dark-theme($element);
    }
  }
  @if ($user-choice == "theme-light") {
    @include light-theme($element);
  }
  @if ($user-choice == "theme-dark") {
    @include dark-theme($element);
  }
}
