@import "./colors";

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

@mixin light-theme($element) {
  @if $element == "icon" {
  }
  @if $element == "header" {
    background-color: color("gray400");
  }
  @if $element == "segment" {
    color: color("black-800");
  }
  @if $element == "segment:hover" {
    color: color("link-primary");
  }
  @if $element == "menu" {
    background-color: color("black800");
    color: color("gray100");
  }
  @if $element == "menu-item" {
  }
  @if $element == "menu-item:hover" {
    background-color: color("black900");
    text-shadow: 0 0 0.5rem color("gray100"), 0 0 0.5rem color("gray100");
  }
  @if $element == "button" {
    border-color: color("black");
    color: color("black");
  }
  @if $element == "body" {
    background-color: color("white");
    color: color("black");
  }
  @if $element == "task" {
    background-color: color("black-10");
  }
  @if $element == "task-form" {
    background-color: color("black-10");
    backdrop-filter: blur(0.5rem) saturate(150%);
  }
  @if $element == "task-input" {
    color: color("black");
  }
  @if $element == "divider" {
    background-color: white;
  }
  @if $element == "footer" {
    background-color: color("black600");
  }
}

@mixin dark-theme($element) {
  @if $element == "icon" {
  }
  @if $element == "header" {
    background-color: color("black600");
  }
  @if $element == "segment" {
    color: color("gray100");
  }
  @if $element == "segment:hover" {
    color: color("link-primary");
  }
  @if $element == "menu" {
    background-color: color("black800");
    color: color("gray100");
  }
  @if $element == "menu-item" {
  }
  @if $element == "menu-item:hover" {
    background-color: color("black900");
    font-weight: bold;
  }
  @if $element == "button" {
    border-color: color("white");
    color: color("white");
  }
  @if $element == "body" {
    background-color: color("black");
    color: color("white");
  }
  @if $element == "task" {
    background-color: color("white-10");
  }
  @if $element == "task-form" {
    background-color: color("white-10");
  }
  @if $element == "task-input" {
    color: color("white");
  }
  @if $element == "divider" {
    background-color: white;
  }
  @if $element == "footer" {
    background-color: color("black600");
  }
}

@mixin theme($element, $user-choice: "theme-system") {
  @if ($user-choice == "theme-system") {
    @include light-theme($element);
    @media (prefers-color-scheme: dark) {
      @include dark-theme($element);
    }
  }
  @if ($user-choice == "theme-light") {
    @include light-theme($element);
  }
  @if ($user-choice == "theme-dark") {
    @include dark-theme($element);
  }
}
