<div
  class="loader"
  [ngClass]="{
    'color-primary': color == 'primary',
    'color-red': color == 'red',
    'color-green': color == 'green',
    'color-yellow': color == 'yellow',
    'color-orange': color == 'orange',
    'color-purple': color == 'purple',
    'size-small': size == 'small',
    'size-medium': size == 'medium',
    'size-large': size == 'large',

    'loading-spinner-theme-system': theme == 'system',
    'loading-spinner-theme-light': theme == 'light',
    'loading-spinner-theme-dark': theme == 'dark'
  }"
></div>
