@import "../../../../styles.scss";

:host {
  display: block;
}

.member-card {
  box-sizing: border-box;
  padding: 0.5rem;
  background-image: url("/assets/avatar-people-person-svgrepo-com.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;

  @include break-words();
  .main-info {
    font-size: 0.75rem;
    font-weight: bold;
  }
  .secondary-info {
    font-size: 0.75rem;
  }
}

.member-card-theme-system {
  @include theme("summary-card", "theme-system");
}
.member-card-theme-light {
  @include theme("summary-card", "theme-light");
}
.member-card-theme-dark {
  @include theme("summary-card", "theme-dark");
}

p {
  margin: 0;
  padding: 0;
}
