<nav class="header-content">
  <section class="explore-column">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus modi
    sequi nesciunt labore ipsum id dolorem voluptatem saepe esse ipsam, expedita
    voluptate? Commodi fugiat impedit optio repellat perferendis voluptatem qui?
  </section>
  <section class="shop-column">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, voluptatum sed
    reiciendis molestias architecto minus nulla tempore ipsa? Tenetur, nisi
    tempora numquam ad quisquam adipisci commodi officiis tempore enim
    accusamus!
  </section>
  <section class="more-column">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto vero
    dicta ducimus quidem ut numquam quae eaque, molestiae et commodi. Quae
    labore facilis cupiditate culpa perspiciatis delectus ducimus. Esse,
    voluptates.
  </section>
</nav>
