<section>
  <div *ngIf="loadingProjects" class="loading-spinner">
    <app-loading-spinner color="purple" size="small"></app-loading-spinner>
  </div>
  <app-alert-message
    class="no-projects-alert"
    *ngIf="
      !loadingProjects && projectList.length <= 0 && !errorFetchingProjects
    "
    [closable]="false"
    [color]="'purple'"
  >
    No projects available at this moment
  </app-alert-message>
  <app-alert-message
    class="error-alert"
    *ngIf="errorFetchingProjects"
    [closable]="false"
    [color]="'red'"
  >
    Error fetching project list...try again later
  </app-alert-message>
  <ul *ngIf="projectList.length > 0" class="project-list">
    <li *ngFor="let project of projectList">
      <app-summary-card
        [name]="project.name"
        [description]="project.description"
        [icon]="project.icon"
        (click)="handleProjectSelection(project._id)"
        [accent]="'#b977ae'"
      ></app-summary-card>
    </li>
  </ul>
</section>
