<section>
  <section>
    <div
      *ngIf="loadingStoryDetails && !errorFetchingStoryDetails"
      class="loading-spinner"
    >
      <app-loading-spinner color="orange" size="small"></app-loading-spinner>
    </div>
    <app-alert-message
      class="error-alert"
      *ngIf="errorFetchingStoryDetails"
      [closable]="false"
      [color]="'red'"
    >
      Error fetching story details...try again later
    </app-alert-message>
    <section *ngIf="story && !loadingStoryDetails" class="details">
      <app-section-header
        [name]="story.name"
        [icon]="story.icon"
        [description]="story.description"
        [type]="'Story'"
      >
      </app-section-header>

      <app-owner-details
        *ngIf="story.owner"
        [ownerId]="story.owner"
      ></app-owner-details>

      <app-custom-button
        class="members-btn"
        [buttonHeight]="'medium'"
        [buttonPaint]="'primary'"
        [text]="'See members...'"
        (clickedButtonEvent)="seeMembers()"
      ></app-custom-button>

      <app-custom-detail *ngIf="story.created" [name]="'Creation Date'">
        {{ story.created | date }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.due" [name]="'Due Date'">
        {{ story.due | date }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.status" [name]="'Status'">
        {{ story.status }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.started" [name]="'Started'">
        {{ story.started | date }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.finished" [name]="'Finished'">
        {{ story.finished | date }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.points" [name]="'Points'">
        {{ story.points }}
      </app-custom-detail>

      <app-closable-dialog [commands$]="assignedToDialogCommand.asObservable()"
        ><app-member-list
          [memberIdList]="story.assignedTo || []"
        ></app-member-list
      ></app-closable-dialog>
    </section>
  </section>
  <section>
    <app-task-list></app-task-list>
  </section>
</section>
