<section>
  <section>
    <div
      *ngIf="loadingStoryDetails && !errorFetchingStoryDetails"
      class="loading-spinner"
    >
      <app-loading-spinner color="orange" size="small"></app-loading-spinner>
    </div>
    <app-alert-message
      class="error-alert"
      *ngIf="errorFetchingStoryDetails"
      [closable]="false"
      [color]="'red'"
    >
      Error fetching story details...try again later
    </app-alert-message>
    <div *ngIf="story && !loadingStoryDetails">
      <app-section-header>
        <span *ngIf="story.icon">{{ story.icon }}</span> "{{ story.name }}"
        details
      </app-section-header>

      <app-custom-detail
        *ngIf="story.due"
        [name]="'Description'"
        [state]="true"
      >
        {{ story.description }}
      </app-custom-detail>
      <app-custom-detail [name]="'Creation Date'">
        {{ story.created | date }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.due" [name]="'Due Date'">
        {{ story.due | date }}
      </app-custom-detail>
      <app-custom-detail [name]="'Owner'">
        {{ story.owner }}
      </app-custom-detail>
      <app-custom-detail [name]="'Status'">
        {{ story.status }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.started" [name]="'Started'">
        {{ story.started }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.finished" [name]="'Finished'">
        {{ story.finished }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.points" [name]="'Points'">
        {{ story.points }}
      </app-custom-detail>
      <app-custom-detail *ngIf="story.assignedTo" [name]="'Assigned to...'">
        {{ story.assignedTo }}
      </app-custom-detail>
    </div>
  </section>
  <section>
    <app-list></app-list>

    <app-add-task-dialog></app-add-task-dialog>
  </section>
</section>
