<section>
  <div *ngIf="loadingStories" class="loading-spinner">
    <app-loading-spinner color="yellow" size="small"></app-loading-spinner>
  </div>
  <app-alert-message
    class="no-stories-alert"
    *ngIf="!loadingStories && storyList.length <= 0 && !errorLoadingStories"
    [closable]="false"
    [color]="'yellow'"
  >
    No stories available at this moment
  </app-alert-message>
  <app-alert-message
    class="error-alert"
    *ngIf="errorLoadingStories"
    [closable]="false"
    [color]="'red'"
  >
    Error fetching story list...try again later
  </app-alert-message>
  <div
    *ngIf="!loadingStories && storyList.length > 0 && !errorLoadingStories"
    class="boards"
  >
    <app-board
      class="board"
      [title]="'ToDo'"
      [stories]="storyListTodo"
    ></app-board>
    <app-board
      class="board"
      [title]="'Running'"
      [stories]="storyListRunning"
    ></app-board>
    <app-board
      class="board"
      [title]="'Done'"
      [stories]="storyListDone"
    ></app-board>
  </div>
</section>
