@import "../../../../../styles.scss";

.boards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.loading-spinner {
  margin-top: 5rem;
  @include center-x-y();
}

.no-stories-alert,
.error-alert {
  display: block;
  margin-top: 1rem;
}

.board {
  min-width: 0; //Important to let the text shrink
  max-width: 22rem;
  width: 22rem;
}
