@import "../../../styles.scss";

:host {
  width: 100%;
}

.btn {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;

  @include center-x-y();
  border-radius: 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.text {
  font-weight: bold;
}

.btn-primary {
  background-color: color("solid-primary");

  &:hover {
    background-color: color("link-primary");
    color: color("gray100");
  }
}
.btn-red {
  background-color: color("solid-red");

  &:hover {
    background-color: color("link-red");
    color: color("gray100");
  }
}
.btn-green {
  background-color: color("solid-green");

  &:hover {
    background-color: color("link-green");
    color: color("gray100");
  }
}
.btn-orange {
  background-color: color("solid-orange");

  &:hover {
    background-color: color("link-orange");
    color: color("gray100");
  }
}
.btn-yellow {
  background-color: color("solid-yellow");

  &:hover {
    background-color: color("link-yellow");
    color: color("gray100");
  }
}
.btn-purple {
  background-color: color("solid-purple");

  &:hover {
    background-color: color("link-purple");
    color: color("gray100");
  }
}

.btn-small {
  height: 1rem;
}

.btn-medium {
  height: 2rem;
}

.btn-large {
  height: 3rem;
}
