@import "../../../styles.scss";

.btn {
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 0.5rem;

  @include center-x-y();
  border-radius: 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.text {
  font-size: 2rem;
  line-height: 2rem;
}

.btn-primary {
  background-color: color("solid-primary");

  &:hover {
    background-color: color("link-primary");
    color: color("gray100");
  }
}
