<article
  class="board"
  appTheme
  [systemThemeClass]="'board-theme-system'"
  [lightThemeClass]="'board-theme-light'"
  [darkThemeClass]="'board-theme-dark'"
>
  <header>
    <h3 (click)="toggleBoard()">
      {{ title }} <span [ngClass]="{ up: !open }">&#9660;</span>
    </h3>
  </header>
  <ul #storyList class="story-list">
    <p class="no-stories" *ngIf="stories.length <= 0">
      <i>No {{ title }} stories...</i>
    </p>
    <li *ngFor="let story of stories" class="list-item">
      <app-summary-card
        [name]="story.name"
        [description]="story.description"
        [icon]="story.icon"
        (click)="handleStorySelection(story._id)"
        [accent]="'#c49f49'"
      ></app-summary-card>
    </li>
  </ul>
</article>
