<header class="header">
  <nav class="navigation">
    <app-custom-icon-button
      class="menu-btn"
      *ngIf="segments.length <= 0"
      [buttonPaint]="'green'"
      [iconHeight]="'large'"
      [iconPath]="'/assets/menu-svgrepo-com.svg'"
      (clickedButtonEvent)="openMenu()"
    ></app-custom-icon-button>
    <app-custom-icon-button
      class="back-btn"
      *ngIf="segments.length > 0"
      [buttonPaint]="'primary'"
      [iconPath]="'/assets/arrow-left-svgrepo-com.svg'"
      [iconHeight]="'large'"
      (clickedButtonEvent)="navigateToSegment(segments.length - 2)"
    >
    </app-custom-icon-button>

    <div *ngIf="segments.length <= 0" class="segment">
      {{ mainSegment }}
    </div>

    <ol *ngIf="segments.length > 0" class="segmentList">
      <div class="cancel-reverse">
        <li
          *ngFor="
            let segment of segments;
            index as i;
            last as isLast;
            first as isFirst
          "
        >
          <a (click)="navigateToSegment(i)" class="segment">{{ segment }}</a>
          <span *ngIf="!isLast" class="segment-divider">≫</span>
        </li>
      </div>
    </ol>
  </nav>
</header>
