<header
  class="header"
  appTheme
  [systemThemeClass]="'header-theme-system'"
  [lightThemeClass]="'header-theme-light'"
  [darkThemeClass]="'header-theme-dark'"
>
  <nav class="navigation">
    <app-custom-icon-button
      class="menu-btn"
      [buttonPaint]="'green'"
      [iconPath]="'/assets/menu-svgrepo-com.svg'"
      (clickedButtonEvent)="openMenu()"
      [ariaLabel]="'Open menu'"
    ></app-custom-icon-button>
    <app-custom-icon-button
      class="back-btn"
      *ngIf="segments.length > 0"
      [buttonPaint]="'primary'"
      [iconPath]="'/assets/arrow-left-svgrepo-com.svg'"
      (clickedButtonEvent)="navigateToSegment(segments.length - 2)"
      [ariaLabel]="'Go back'"
    >
    </app-custom-icon-button>

    <div
      *ngIf="segments.length <= 0"
      class="segment"
      appTheme
      [systemThemeClass]="'segment-theme-system'"
      [lightThemeClass]="'segment-theme-light'"
      [darkThemeClass]="'segment-theme-dark'"
    >
      {{ mainSegment }}
    </div>

    <ol *ngIf="segments.length > 0" class="segmentList">
      <div class="cancel-reverse">
        <li
          *ngFor="
            let segment of segments;
            index as i;
            last as isLast;
            first as isFirst
          "
        >
          <a
            (click)="navigateToSegment(i)"
            class="segment"
            appTheme
            [systemThemeClass]="'segment-theme-system'"
            [lightThemeClass]="'segment-theme-light'"
            [darkThemeClass]="'segment-theme-dark'"
            >{{ segment }}</a
          >
          <span *ngIf="!isLast" class="segment-divider">≫</span>
        </li>
      </div>
    </ol>
  </nav>
</header>
