@import "../../../styles.scss";

.header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 3rem;
  width: 100%;
  @include theme("header");
}

.navigation {
  @include center-x-y("left");
  width: 100%;
}

.segmentList {
  @include reset-list();
  display: flex;
  flex-direction: row-reverse;

  overflow-x: auto;
  overflow-y: hidden;
  overflow-anchor: auto;
}

.segment {
  padding: 0;
  margin: 0 0.5rem;
  font-weight: bolder;
  white-space: nowrap;
  @include theme("segment");
}

.segment:hover {
  cursor: pointer;
  @include theme("segment:hover");
}

.segment-divider {
  cursor: default;
  font-weight: bolder;
  @include theme("segment");
}

.cancel-reverse {
  display: inherit;
}

.menu-btn {
  width: 3rem;
}
