@import "../../../styles.scss";

.header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 2rem;
  width: 100%;

  font-size: 0.75rem;
  @media (min-width: $big-screen) {
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

.header-theme-system {
  @include theme("header", "theme-system");
}
.header-theme-light {
  @include theme("header", "theme-light");
}
.header-theme-dark {
  @include theme("header", "theme-dark");
}

.navigation {
  @include center-x-y(flex-start);

  width: 100%;
}

.segmentList {
  @include reset-list();
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-anchor: auto;
  scrollbar-width: none;

  li {
    display: flex;
    align-items: center;
  }
}

.segment {
  display: inline-block;
  padding: 0;
  margin: 0 0.5rem;
  transition: color 0.25s;
  @include overflow-ellipsis();
  max-width: 15rem;
}

.segment-theme-system {
  @include theme("segment", "theme-system");
  &:hover {
    @include theme("segment:hover", "theme-system");
  }
}
.segment-theme-light {
  @include theme("segment", "theme-light");
  &:hover {
    @include theme("segment:hover", "theme-light");
  }
}
.segment-theme-dark {
  @include theme("segment", "theme-dark");
  &:hover {
    @include theme("segment:hover", "theme-dark");
  }
}

.segment:hover {
  cursor: pointer;
}

.segment-divider {
  cursor: default;
  font-weight: bolder;
  @include theme("segment");
}

.cancel-reverse {
  display: inherit;
}

.menu-btn,
.back-btn {
  width: 2rem;
  height: 2rem;
  @media (min-width: $big-screen) {
    width: 3rem;
    height: 3rem;
  }
}
