<section>
  <div *ngIf="loadingTasks" class="loading-spinner">
    <app-loading-spinner color="primary" size="small"></app-loading-spinner>
  </div>
  <app-alert-message
    class="error-alert"
    *ngIf="errorFetchingTasks"
    [closable]="false"
    [color]="'red'"
  >
    Error fetching task list...try again later
  </app-alert-message>

  <app-alert-message
    class="no-tasks-alert"
    *ngIf="!loadingTasks && taskList.length <= 0 && !errorFetchingTasks"
    [closable]="false"
    [color]="'primary'"
  >
    No tasks available at this moment
  </app-alert-message>

  <ul *ngIf="!loadingTasks">
    <li *ngFor="let task of taskList; let i = index">
      <app-task class="task" [task]="task" [id]="i"> </app-task>
    </li>
  </ul>

  <app-custom-icon-button
    *ngIf="!loadingTasks && !errorFetchingTasks"
    class="add-task-btn"
    [buttonPaint]="'green'"
    [iconAlt]="'add task'"
    [iconPath]="'assets/add-svgrepo-com.svg'"
    (clickedButtonEvent)="openAddTaskDialog()"
    [ariaLabel]="'Create task'"
  ></app-custom-icon-button>

  <app-closable-dialog [commands$]="taskCreationDialogCommand.asObservable()">
    <app-add-task-form
      (addTaskResult)="handleResultFromDialog($event)"
    ></app-add-task-form>
  </app-closable-dialog>
</section>
