ul {
  list-style: none;
}

.animated-element {
  opacity: 0;

  @keyframes slowlyAppearAbove {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  animation: 0.1s ease-in
    calc(var(--column-appearance-delay) + var(--item-order) * var(--item-delay))
    slowlyAppearAbove forwards;
}
