<article
  [ngClass]="{
    'task-theme-system': theme == 'system',
    'task-theme-light': theme == 'light',
    'task-theme-dark': theme == 'dark'
  }"
>
  <app-checkbox
    [done]="task.done ?? false"
    (checkboxEvent)="receiveDoneEvent($event)"
  ></app-checkbox>
  <app-task-name [styleTask]="task.done ?? false" class="task-name-container">
    {{ task.name }}
  </app-task-name>
  <app-custom-button
    [iconPath]="'/assets/tcan.svg'"
    [iconAlt]="'delete task'"
    buttonType="icon"
    (clickedButtonEvent)="handleDeleteButtonClick()"
  ></app-custom-button>
</article>
