@import "../../../../styles.scss";

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-radius: 0.125rem;
  padding: 0.5rem;
  transition: color 0.25s, outline 0.25s, box-shadow 0.25s;
}

.task-theme-system {
  @include theme("summary-card", "theme-system");
  &:hover {
    @include theme("summary-card:hover", "theme-system");
  }
}
.task-theme-light {
  @include theme("summary-card", "theme-light");
  &:hover {
    @include theme("summary-card:hover", "theme-light");
  }
}
.task-theme-dark {
  @include theme("summary-card", "theme-dark");
  &:hover {
    @include theme("summary-card:hover", "theme-dark");
  }
}

.task-name-container {
  flex: 1;
  font-size: 1.5rem;
  min-width: 5rem;
  cursor: pointer;
}

.checkbox {
  height: 1rem;
  width: 1rem;

  @media (min-width: $big-screen) {
    height: 2rem;
    width: 2rem;
  }
}

.creationDate {
  color: inherit;
  font-size: 0.5rem;
  @media (min-width: $big-screen) {
    font-size: 0.75rem;
  }
}
