<article
  [ngClass]="{
    'task-theme-system': theme == 'system',
    'task-theme-light': theme == 'light',
    'task-theme-dark': theme == 'dark'
  }"
>
  <input
    type="checkbox"
    name="done"
    id="done"
    (change)="handleCheckboxToggle()"
    [checked]="task.done"
    class="checkbox"
  />
  <app-task-name
    [styleTask]="task.done ?? false"
    class="task-name-container"
    (click)="handleTaskNameClick()"
  >
    {{ task.name }}
  </app-task-name>

  <p class="creationDate">Created at {{ task.created | date }}</p>
</article>
