<article
  [ngClass]="{
    'task-theme-system': theme == 'system',
    'task-theme-light': theme == 'light',
    'task-theme-dark': theme == 'dark'
  }"
>
  <app-checkbox
    [done]="task.done ?? false"
    (checkboxEvent)="receiveDoneEvent($event)"
  ></app-checkbox>
  <app-task-name
    [styleTask]="task.done ?? false"
    class="task-name-container"
    (click)="handleTaskNameClick()"
  >
    {{ task.name }}
  </app-task-name>
  <app-custom-button
    [text]="'Delete'"
    [buttonPaint]="'primary'"
    buttonType="icon"
    (clickedButtonEvent)="handleDeleteButtonClick()"
  ></app-custom-button>
</article>
