@import "../../../../styles.scss";

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  flex-wrap: wrap;

  border-radius: 0.125rem;
  padding: 0.5rem;

  transition: color 0.25s, outline 0.25s, box-shadow 0.25s;

  @include theme("summary-card");

  &:hover {
    @include theme("summary-card:hover");
  }
}

.task-theme-system {
  @include theme("task", "theme-system");
}
.task-theme-light {
  @include theme("task", "theme-light");
}
.task-theme-dark {
  @include theme("task", "theme-dark");
}

.task-name-container {
  flex: 1;
  font-size: 1.5rem;
  min-width: 10rem;
  cursor: pointer;
}

.checkbox {
  height: 2rem;
  width: 2rem;
}

.creationDate {
  color: black;
}
