<section>
  <ul *ngIf="user">
    <li>
      <h4>Username</h4>
      <p>
        {{ user.username }}
      </p>
    </li>
    <li>
      <h4>Email</h4>
      <p>
        {{ user.email }}
      </p>
    </li>
    <li>
      <h4>Name</h4>
      <p>
        {{ user.name?.first }}
      </p>
    </li>
    <li>
      <h4>Last name</h4>
      <p>
        {{ user.name?.last }}
      </p>
    </li>
  </ul>

  <div *ngIf="loadingUserData" class="loading-spinner">
    <app-loading-spinner [color]="'primary'"></app-loading-spinner>
  </div>

  <app-alert-message
    *ngIf="errorLoadingUserData"
    [color]="'primary'"
    [closable]="false"
  >
    Error fetching user data</app-alert-message
  >

  <label for="theme"> <strong>Application Theme</strong> </label>
  <select
    #themeSelector
    name="theme"
    id="theme"
    [value]="theme"
    (change)="handleThemeChange(themeSelector.value)"
    class="theme-selector"
    appTheme
    [systemThemeClass]="'theme-selector-theme-system'"
    [lightThemeClass]="'theme-selector-theme-light'"
    [darkThemeClass]="'theme-selector-theme-dark'"
  >
    <option value="system">Default</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>

  <app-custom-button
    [text]="'Logout'"
    [buttonPaint]="'red'"
    (clickedButtonEvent)="handleLogoutButtonClick()"
    [buttonHeight]="'large'"
    class="logout-btn"
    [ariaLabel]="'Log out'"
  ></app-custom-button>
</section>
