<section>
  <section>
    <header>
      <h2>Epic details</h2>
    </header>

    {{ this.epic | json }}
  </section>
  <section>
    <header>
      <h2>Associated Stories</h2>
    </header>
    <ul *ngIf="storyList.length > 0">
      <li *ngFor="let story of storyList">
        <app-summary-card
          [name]="story.name"
          [description]="story.description"
          [icon]="story.icon"
          (click)="handleStorySelection(story._id)"
        ></app-summary-card>
      </li>
    </ul>

    <p *ngIf="storyList.length <= 0">No Stories found</p>
  </section>
</section>
