@import "../../../../styles.scss";

:host {
  width: 100%;
  max-width: 70rem;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.story-list {
  @include reset-list();
}

.board-sector {
  background-color: color("gray100");
  @include content-horizontal-padding();
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  min-width: 0; //Important to let the text shrink as much as its needed
  max-width: 20rem;
}

.list-item {
  margin-top: 1rem;
}

.loading-spinner {
  margin-top: 5rem;
  @include center-x-y();
}

.no-stories-alert {
  display: block;
  margin-top: 1rem;
}
