@import "../../../styles.scss";

.btn {
  box-sizing: border-box;

  @include center-x-y();
  border-radius: 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.btn-primary {
  background-color: color("solid-primary");

  &:hover {
    background-color: color("link-primary");
  }
}

.btn-red {
  background-color: color("solid-red");

  &:hover {
    background-color: color("link-red");
  }
}
.btn-orange {
  background-color: color("solid-orange");

  &:hover {
    background-color: color("link-orange");
  }
}
.btn-green {
  background-color: color("solid-green");

  &:hover {
    background-color: color("link-green");
  }
}
.btn-yellow {
  background-color: color("solid-yellow");

  &:hover {
    background-color: color("link-yellow");
  }
}
.btn-purple {
  background-color: color("solid-purple");

  &:hover {
    background-color: color("link-purple");
  }
}

.btn-large,
.img-large {
  height: 3rem;
}

.btn-medium,
.img-medium {
  height: 2rem;
}

.btn-small,
.img-small {
  height: 1rem;
}
