<section>
  <div *ngIf="loadingProjectDetails" class="loading-spinner">
    <app-loading-spinner color="orange" size="small"></app-loading-spinner>
  </div>
  <app-alert-message
    class="error-alert"
    *ngIf="errorLoadingProjectDetails"
    [closable]="false"
    [color]="'red'"
  >
    Error fetching project data...try again later
  </app-alert-message>
  <section *ngIf="project" class="details">
    <app-section-header
      [name]="project.name"
      [icon]="project.icon"
      [description]="project.description"
      [type]="'Project'"
    >
    </app-section-header>

    <section class="details">
      <app-owner-details [ownerId]="project.owner"></app-owner-details>

      <app-custom-button
        class="members-btn"
        [buttonHeight]="'medium'"
        [buttonPaint]="'primary'"
        [text]="'See members...'"
        (clickedButtonEvent)="seeMembers()"
      ></app-custom-button>
    </section>

    <app-closable-dialog [commands$]="memberListDialogCommand.asObservable()">
      <app-member-list [memberIdList]="project.members"></app-member-list>
    </app-closable-dialog>
  </section>
</section>
