<section>
  <section *ngIf="project">
    <header>
      <h2>
        <span *ngIf="project.icon">{{ project.icon }}</span
        >Project "{{ project.name }}" details
      </h2>
    </header>

    <table>
      <tr>
        <th>Description</th>
        <td>{{ project.description || "No description available" }}</td>
      </tr>
      <tr>
        <th>Amount of members</th>
        <td>{{ project.members.length }}</td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>{{ project.owner }}</td>
      </tr>
    </table>
  </section>
  <section>
    <header>
      <h2>Associated Epics</h2>
    </header>
    <ul *ngIf="epicList.length > 0">
      <li *ngFor="let epic of epicList">
        <app-summary-card
          [name]="epic.name"
          [description]="epic.description"
          [icon]="epic.icon"
          (click)="handleEpicSelection(epic._id)"
        ></app-summary-card>
      </li>
    </ul>

    <p *ngIf="epicList.length <= 0">No epics found</p>
  </section>
</section>
