<section>
  <section *ngIf="project" class="details">
    <header>
      <h2>
        <span *ngIf="project.icon">{{ project.icon }}</span> "{{
          project.name
        }}" details
      </h2>
    </header>

    <app-custom-details
      [rowValues]="[
        project.description,
        project.owner,
        'member list member list1'
      ]"
      [rowNames]="[
        'Description',
        'Owner',
        project.members.length.toString() + ' participating members'
      ]"
      [states]="[true, true, false]"
    ></app-custom-details>
  </section>
  <section>
    <ul *ngIf="epicList.length > 0" class="epic-list">
      <li *ngFor="let epic of epicList">
        <app-summary-card
          [name]="epic.name"
          [description]="epic.description"
          [icon]="epic.icon"
          (click)="handleEpicSelection(epic._id)"
        ></app-summary-card>
      </li>
    </ul>

    <p *ngIf="epicList.length <= 0">No epics found</p>
  </section>
</section>
