<div
  class="alert"
  [ngClass]="{
    'background-primary': color == 'primary',
    'background-red': color == 'red',
    'background-green': color == 'green',
    'background-yellow': color == 'yellow',
    'background-orange': color == 'orange',
    'background-purple': color == 'purple',
  }"
>
  <p class="msg">
    <ng-content></ng-content>
  </p>
  <app-custom-icon-button
    (clickedButtonEvent)="handleCloseButtonClick()"
    class="close-btn"
    *ngIf="closable"
    [buttonPaint]="color"
    [iconAlt]="'close'"
    [iconHeight]="'medium'"
    [iconPath]="'/assets/close-svgrepo-com.svg'"
  ></app-custom-icon-button>
</div>
