@import "../../../styles.scss";

.summary-card {
  border-radius: 0.125rem;
  padding: 0.5rem;

  transition: color 0.25s, outline 0.25s, box-shadow 0.25s;

  border-right: 4px solid;
}

.summary-card-theme-system {
  @include theme("summary-card", "theme-system");

  &:hover {
    @include theme("summary-card:hover", "theme-system");
  }
}
.summary-card-theme-light {
  @include theme("summary-card", "theme-light");

  &:hover {
    @include theme("summary-card:hover", "theme-light");
  }
}
.summary-card-theme-dark {
  @include theme("summary-card", "theme-dark");

  &:hover {
    @include theme("summary-card:hover", "theme-dark");
  }
}

.name {
  @include break-words();

  font-size: 0.75rem;
  @media (min-width: $big-screen) {
    font-size: 1rem;
  }
}

.description {
  font-style: italic;
  @include overflow-ellipsis();

  font-size: 0.5rem;
  @media (min-width: $big-screen) {
    font-size: 0.75rem;
  }
}
