@import "../../../../styles.scss";
.loading-spinner {
  margin-top: 5rem;
  @include center-x-y();
}

.error-alert {
  display: block;
  margin-top: 1rem;
}

ul {
  @include reset-list();
}

.task {
  display: block;
  margin: 1rem 0rem;
}
.add-task-btn {
  position: sticky;
  bottom: 0.5rem;
  margin: 0 auto;
  display: block;
  backdrop-filter: blur(1rem);

  width: 2rem;
  height: 2rem;
  @media (min-width: 18rem) {
    width: 3rem;
    height: 3rem;
  }
}
