<div class="loading-spinner">
  <app-loading-spinner
    *ngIf="loadingTasks"
    color="primary"
    size="small"
  ></app-loading-spinner>
</div>
<app-confirmation-dialog
  [commands$]="taskDeletionDialogCommand.asObservable()"
  (result)="receiveResult($event)"
>
  Are u sure u wanna delete this task?
  {{ toDelete.name }}</app-confirmation-dialog
>
<ul *ngIf="!loadingTasks">
  <li *ngFor="let task of taskList; let i = index">
    <app-task
      class="task"
      [task]="task"
      [id]="i"
      (deleteTask)="handleTaskDeletion($event)"
    >
    </app-task>
  </li>
</ul>
