@import "../../../../styles.scss";

:host {
  width: 100%;
  @include center-x-y();
}

.create-btn {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 30rem;
}

.label {
  @include label();
}

.text-input {
  @include input-text();
}

.text-input-theme-system {
  @include theme("text-input", "theme-system");
}
.text-input-theme-light {
  @include theme("text-input", "theme-light");
}
.text-input-theme-dark {
  @include theme("text-input", "theme-dark");
}

.text-area-input {
  resize: vertical;
  min-height: 4rem;
}

.text-input-error-border {
  @include text-input-error-border();
}

.loading-spinner {
  @include center-x-y();
}
