<form [formGroup]="taskForm" (ngSubmit)="submit()" class="form">
  <h2>New Task</h2>
  <div>
    <input
      class="text-input"
      [ngClass]="{'text-input-error-border':taskForm.get('name')?.errors?.['required']  && !taskForm.get('name')?.pristine}"
      appTheme
      [systemThemeClass]="'text-input-theme-system'"
      [lightThemeClass]="'text-input-theme-light'"
      [darkThemeClass]="'text-input-theme-dark'"
      id="name"
      type="text"
      formControlName="name"
      placeholder="Subject"
    />
    <app-input-error
      *ngIf="taskForm.get('name')?.errors?.['required']  && !taskForm.get('name')?.pristine"
    >
      This value is required
    </app-input-error>
  </div>

  <div>
    <textarea
      class="text-input text-area-input"
      [ngClass]="{'text-input-error-border':taskForm.get('description')?.errors?.['minlength']  && !taskForm.get('description')?.pristine}"
      appTheme
      [systemThemeClass]="'text-input-theme-system'"
      [lightThemeClass]="'text-input-theme-light'"
      [darkThemeClass]="'text-input-theme-dark'"
      id="description"
      rows="5"
      cols="33"
      formControlName="description"
      placeholder="Please add descriptive text to help others better understand this task"
    >
    </textarea>
    <app-input-error
      *ngIf="taskForm.get('description')?.errors?.['minlength']  && !taskForm.get('description')?.pristine"
    >
      Description must be at least <strong> 10 characters </strong> long
    </app-input-error>
  </div>

  <div>
    <label for="due-date" class="label">Due date: </label>
    <input
      class="text-input"
      appTheme
      [systemThemeClass]="'text-input-theme-system'"
      [lightThemeClass]="'text-input-theme-light'"
      [darkThemeClass]="'text-input-theme-dark'"
      id="due-date"
      type="date"
      formControlName="due"
    />
  </div>

  <app-alert-message
    *ngIf="thereWasAnError"
    [color]="'red'"
    [closable]="true"
    (closeSignal)="handleAlertClose()"
  >
    There was a problem creating your task... try again later
  </app-alert-message>

  <app-custom-button
    [disabled]="!taskForm.valid || submitting"
    class="create-btn"
    [text]="'Create'"
    [buttonPaint]="'primary'"
    [buttonHeight]="'medium'"
    [ariaLabel]="'Create task'"
  ></app-custom-button>
  <div class="loading-spinner">
    <app-loading-spinner
      *ngIf="submitting"
      [color]="'green'"
    ></app-loading-spinner>
  </div>
</form>
